<!doctype html>
<html>
<head>
	<!-- Import JavaScript -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/static/viewer/js.cookie.js"></script>
	<link  href="/static/viewer/cropper.css" rel="stylesheet">
	<script src="/static/viewer/cropper.js"></script>
	<link  href="/static/viewer/style.css" rel="stylesheet">
</head>

<!-- Grab passed variables -->
<script>
	{% if page_number %}
		var page_number = "{{ page_number }}";
		var total_pages = "{{ total_pages }}";
	{% endif %}
</script>

<!-- Script template to display image metadata -->
<script id="data_block" type="text/html">

	<table>
	    <tr>
	        <!-- Image -->
	        <td>
	            <div class="CropperImage">
		            <img id="viewedImg" src=""/>
	            </div>
	        </td>
	
	        <!-- Image metadata -->
	        <td>
	            <div class="MetaFields">
                    <table class="paddingBetweenCols">
                        <tr>
                            <td><label>Orientation: </label></td>
                            <td><input name="orientation" id="orientation" value={{ item.orientation }}></input><br></br></td>
                        </tr>
                        <tr>
                            <td><label>Shape: </label></td>
                            <td><input name="shape" id="shape" value="{{ item.shape }}"></input><br></br></td>
                        </tr>
                        <tr>
                            <td><label>Alphanumeric: </label></td>
                            <td><input name="alphanumeric" id="alphanumeric" value="{{ item.alphanumeric }}"></input><br></br></td>
                        </tr>
                        <tr>
                            <td><label>Color: </label></td>
                            <td><input name="color" id="color" value="{{ item.color }}"></input><br></br></td>
                        </tr>
                    </table>
                <!-- Submit changes -->
                <button class="MetaLabel" id="edit_button">Edit</button>
                </div>
	        </td>
        </tr>
        <div style="clear:both;"><br><hr></hr></br></div>
	</table>
	
</script>

<body>
  	<h2>Image Database | Page {{ page_number }}</h2>

	<div id="ImageData" style="margin: 35px"></div>
	<script>
		{% for item in data %}
			// Set pk from item
			var pk = {{ item.pk }};

			// Append a new image data field
			var div = document.createElement('div');
			div.innerHTML = document.getElementById('data_block').innerHTML;
			$('#ImageData').append(div);

			// Unique fields for metadata
			$('#orientation').attr('id','orientation'+pk);
			$('#shape').attr('id', 'shape'+pk);
			$('#alphanumeric').attr('id','alphanumeric'+pk);
			$('#color').attr('id','color'+pk);
			$('#image').attr('id','image'+pk);

			// Set fields to their values
			$("#orientation"+pk).val("{{ item.orientation }}");
			$("#shape"+pk).val("{{ item.shape }}");
			$("#alphanumeric"+pk).val("{{ item.alphanumeric }}");
			$("#color"+pk).val("{{ item.color }}");

			$("#viewedImg").attr('id','viewedImg'+pk);
			$("#viewedImg"+pk).attr('src',"{{item.image}}");

			var image_foo = document.getElementById('viewedImg'+pk);
			var cropper = new Cropper(image_foo,{
				aspectRatio: 1,
				viewMode: 2,
				dragMode: 'crop',
				responsive: false,

  				crop: function(e) {

  				}
			});
		{% endfor %}
	</script>

	<h2> View X Targets </h2>
	<hr></hr>

	<!-- Select page and submit to change ...
			NOT FINAL, switching to normal page switching mechanism soon -->
	<h2> Change Page </h2>

	<form id = "change_page" method = "post" action = "/edit/" enctype = "multipart/form-data">
		<select name="page_id", id="page_id">
			{% with ''|center:total_pages as range %}
				{% for _ in range %}
					<option id="page" selected="{{ forloop.counter }}" value="{{ forloop.counter }}">{{ forloop.counter }}</option>
				{% endfor %}
			{% endwith %}
    </select>

	<script>
		$( "select" ).change(function() {
			var foo = $('#page_id').val();
			$('#change_page').attr("action", "/edit/page-" + foo + "/");
        })
      	.trigger( "change" );
	</script>
	<input type = "submit">
	</form>

</body>
</html>
