<!doctype html>
<html>
<head>
	<!-- Import JavaScript -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/static/viewer/js.cookie.js"></script>
	<link  href="/static/viewer/cropper.css" rel="stylesheet">
	<script src="/static/viewer/cropper.js"></script>
	<link  href="/static/viewer/style.css" rel="stylesheet">
</head>

<!-- Grab passed variables -->
<script>
	{% if page_number %}
		var page_number = "{{ page_number }}";
		var total_pages = "{{ total_pages }}";
	{% endif %}
</script>

<script id="test_block" type="text/html">
	<img id="testimg" src=""></img>
</script>

<!-- Script template to display image metadata -->
<script id="data_block" type="text/html">
	<form>
	<table>

		<tr>
			<!-- CropperJs Viewer -->
			<td>
				<div class="CropperImage"><img id="viewedImg" src=""/></div>
	        </td>

	        <!-- Image metadata -->
	        <td>
	            <div class="MetaFields">
                <table class="paddingBetweenCols">
                    <tr>
                        <td><label>Orientation: </label></td>
                        <td><input name="orientation" id="orientation" value={{ item.orientation }}></input><br></br></td>
                    </tr>
                    <tr>
                        <td><label>Shape: </label></td>
                        <td><input name="shape" id="shape" value="{{ item.shape }}"></input><br></br></td>
                    </tr>
                    <tr>
                        <td><label>Alphanumeric: </label></td>
                        <td><input name="alphanumeric" id="alphanumeric" value="{{ item.alphanumeric }}"></input><br></br></td>
                    </tr>
                    <tr>
                        <td><label>Color: </label></td>
                        <td><input name="color" id="color" value="{{ item.color }}"></input><br></br></td>
                    </tr>
                </table>

            <!-- Submit changes -->
            	<input type="submit" value="Go">
            	</div>
	        </td>
        </tr>


	</table>
	</form>
	<div style="clear:both;"><br><hr></hr></br></div>
</script>

<body>
  	<h2>Image Database | Page {{ page_number }}</h2>

	<div id="ImageData" style="margin: 35px"></div>
	<script>

		var csrftoken = Cookies.get('csrftoken');

		function csrfSafeMethod(method){
			return(/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		$.ajaxSetup({beforeSend: function(xhr, settings){
			if(!csrfSafeMethod(settings.type) && !this.crossDomain){
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
				}
			}
		});

		{% for item in data %}
			// Set pk from item
			var pk = {{ item.pk }};
			console.log(pk);

			// Append a new image data field
			var div = document.createElement('div');
			div.innerHTML = document.getElementById('data_block').innerHTML;
			$('#ImageData').append(div);

			// Unique fields for metadata

			$('#orientation').attr('id','orientation'+pk);
			$('#shape').attr('id', 'shape'+pk);
			$('#alphanumeric').attr('id','alphanumeric'+pk);
			$('#color').attr('id','color'+pk);
			$('#image').attr('id','image'+pk);

			// Set fields to their values
			$("#orientation"+pk).val("{{ item.orientation }}");
			$("#shape"+pk).val("{{ item.shape }}");
			$("#alphanumeric"+pk).val("{{ item.alphanumeric }}");
			$("#color"+pk).val("{{ item.color }}");

			$("#viewedImg").attr('id','viewedImg'+pk);
			$("#viewedImg"+pk).attr('src',"{{item.image}}");
			$('#save_edit').attr('id','save_edit'+pk);
			$('#save_edit').attr('name',pk);

			var image_foo = document.getElementById('viewedImg'+pk);
			$('#viewedImg'+pk).cropper({
				aspectRatio: 1,
				viewMode: 2,
				dragMode: 'crop',
				responsive: false,

  				crop: function(e) {

  				}
			});

			$(function () {
    			$('form').on('submit', function (e) {

					e.preventDefault();
					e.stopImmediatePropagation();
					console.log("HI");
					var form = $(this).serializeArray();
					console.log(form);
					console.log(form.length);
					console.log(form[3].value);
					var pkminus = pk-1;
					$('#viewedImg' + pkminus).cropper().getCroppedCanvas().toBlob(function(blob){
						var source;
						var reader = new FileReader();
						reader.readAsDataURL(blob);
						reader.onloadend = function() {
						source = reader.result;
						var img = document.createElement('img');
						img.src = source;

						var div2 = document.createElement('div');
						div2.innerHTML = document.getElementById('test_block').innerHTML;


						document.getElementById('change_page').append(div2);
						$("#testimg").attr('src',source);
						}
						/*
						console.log(source);
						var img = document.createElement('img');
						img.src = source;
						document.getElementById('change_page').append(source);
						*/
					})


					/*
        			$.ajax({
            			type: 'post',
            			url: 'addfr.jsp',
            			data: $(this).serialize(),
            			success: function () {
                			//location.reload();
            		}
        			});
					*/
    			});
			});

			/*
			$("#save_edit"+pk).on('click', function(){
					cropper.getCroppedCanvas().toBlob(function (blob) {

						var source;
						var reader = new FileReader();
 						reader.readAsDataURL(blob);
 						reader.onloadend = function() {
     					source = reader.result;
						}

						var img = document.createElement('img');
						img.src = source;
						document.getElementById('change_page').append(source);

						console.log("HI");
						var foo_test = document.getElementById(this.form).elements["color"];
						console.log(foo_test);

							var fd = new FormData()
							fd.append('orientation', $("#orientation"+pk).val());
							fd.append('shape', $("#shape"+pk).val());
							fd.append('alphanumeric', $("#alphanumeric"+pk).val());
							fd.append('color', $("#color"+pk).val());
							fd.append('image', source );
							$.ajax({
									type: "POST",
									url: "/updateImage/id-" + pk + "/",
									data: fd,
									processData: false,
									contentType: false
							}).done(function(){
								 console.log(source);
							});

					})

			});
		*/
		{% endfor %}
	</script>

	<h2> View X Targets </h2>
	<hr></hr>

	<!-- Select page and submit to change ...
			NOT FINAL, switching to normal page switching mechanism soon -->
	<h2> Change Page </h2>

	<form id = "change_page" method = "post" action = "/edit/" enctype = "multipart/form-data">
		<select name="page_id", id="page_id">
			{% with ''|center:total_pages as range %}
				{% for _ in range %}
					<option id="page" selected="{{ forloop.counter }}" value="{{ forloop.counter }}">{{ forloop.counter }}</option>
				{% endfor %}
			{% endwith %}
    </select>

	<script>
		$( "select" ).change(function() {
			var foo = $('#page_id').val();
			$('#change_page').attr("action", "/edit/page-" + foo + "/");
        })
      	.trigger( "change" );
	</script>
	<input type = "submit">
	</form>

</body>
</html>
